<<<<<<< HEAD
/*=============== REUSABLE CSS CLASSES ===============*/
.container{
   max-width: 1120px;
   margin-inline: 1.5rem;
}
=======
/*=============== REUSABLE CSS CLASSES ===============*/
.container{
   max-width: 1120px;
   margin-inline: 1.5rem;
}
>>>>>>> 6d8723415d01a39c583ad2da33beef37cd1b20c6
